@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.header {
  background-color: white;
  height: 500px;
}

.header_container {
  width: 900px;
  height: auto;
  margin: 0 auto;
}

.header_logo {
  width: 100%;
  height: 350px;
  text-align: center;
  padding-top: 15%;
}

.letter_1 {
  font-size: 6em;
  font-weight: bold;
  font-size-adjust: 50;
  color: white;
  text-shadow: -1px 0 #ede9e3, 0 1px #ede9e3, 1px 0 #ede9e3, 0 -1px #ede9e3;
}

.letter_2 {
  font-size: 6em;
  font-weight: bold;
  font-size-adjust: 50;
  color: white;
  text-shadow: -1px 0 #ede9e3, 0 1px #ede9e3, 1px 0 #ede9e3, 0 -1px #ede9e3;
}

.letter_3 {
  font-size: 6em;
  font-weight: bold;
  font-size-adjust: 50;
  color: white;
  text-shadow: -1px 0 #ede9e3, 0 1px #ede9e3, 1px 0 #ede9e3, 0 -1px #ede9e3;
}

.letter_4 {
  font-size: 6em;
  font-weight: bold;
  font-size-adjust: 50;
  color: white;
  text-shadow: -1px 0 #ede9e3, 0 1px #ede9e3, 1px 0 #ede9e3, 0 -1px #ede9e3;
}

.letter_5 {
  font-size: 6em;
  font-weight: bold;
  font-size-adjust: 50;
  color: white;
  text-shadow: -1px 0 #ede9e3, 0 1px #ede9e3, 1px 0 #ede9e3, 0 -1px #ede9e3;
}

.letter_6 {
  font-size: 6em;
  font-weight: bold;
  font-size-adjust: 50;
  color: white;
  text-shadow: -1px 0 #ede9e3, 0 1px #ede9e3, 1px 0 #ede9e3, 0 -1px #ede9e3;
}

.letter_7 {
  font-size: 6em;
  font-weight: bold;
  font-size-adjust: 50;
  color: white;
  text-shadow: -1px 0 #ede9e3, 0 1px #ede9e3, 1px 0 #ede9e3, 0 -1px #ede9e3;
}

.word_cake {
  font-size: 6em;
  font-weight: bold;
  font-size-adjust: 50;
  color: #4f4f4f;
  text-shadow: 0;
}

.header_nav {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_nav a {
  text-decoration: none;
}

.nav_1 {
  width: 100px;
  height: 100px;
  background-color: #ede9e3;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_1 p {
  color: white;
  font-size: 1.5  em;
  opacity: 0.2;
}

.nav_2 {
  width: 100px;
  height: 100px;
  background-color: #ede9e3;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_2 p {
  color: white;
  font-size: 1.5  em;
  opacity: 0.2;
}

.nav_3 {
  width: 100px;
  height: 100px;
  background-color: #ede9e3;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_3 p {
  color: white;
  font-size: 1.5  em;
  opacity: 0.2;
}

.nav_4 {
  width: 100px;
  height: 100px;
  background-color: #ede9e3;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_4 p {
  color: white;
  font-size: 1.5  em;
  opacity: 0.2;
}

.nav_5 {
  width: 100px;
  height: 100px;
  background-color: #ede9e3;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_5 p {
  color: white;
  font-size: 1.5  em;
  opacity: 0.2;
}

.nav_6 {
  width: 100px;
  height: 100px;
  background-color: #ede9e3;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_6 p {
  color: white;
  font-size: 1.5  em;
  opacity: 0.2;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}

* {
  box-sizing: border-box;
}

.grid-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.grid-container .row::after, .grid-container .row::before {
  content: '';
  display: table;
  clear: both;
}

.grid-container [class*='col-'] {
  float: left;
  min-height: 1px;
}

.grid-container .col-1 {
  width: 8.33333%;
}

.grid-container .col-2 {
  width: 16.66667%;
}

.grid-container .col-3 {
  width: 25%;
}

.grid-container .col-4 {
  width: 33.33333%;
}

.grid-container .col-5 {
  width: 41.66667%;
}

.grid-container .col-6 {
  width: 50%;
}

.grid-container .col-7 {
  width: 58.33333%;
}

.grid-container .col-8 {
  width: 66.66667%;
}

.grid-container .col-9 {
  width: 75%;
}

.grid-container .col-10 {
  width: 83.33333%;
}

.grid-container .col-11 {
  width: 91.66667%;
}

.grid-container .col-12 {
  width: 100%;
}

#hello {
  height: 650px;
  background-color: #ede9e3;
}

.hello_container {
  width: 900px;
  height: auto;
  margin: 0 auto;
}

.hello_left, .hello_right {
  width: 50%;
  height: 100%;
  float: left;
  font-size: 12px;
  text-align: left;
}

h4 {
  line-height: 3em;
}

.hello_left p {
  font-size: 2em;
  line-height: 1.5em;
}

/* Pure CSS cake made with pride by
   %a(href="http://github.com/jaicab" target="_blank") Jaime Caballero */
@keyframes flames {
  0% {
    height: 2.2em;
    transform: rotate(0.5deg);
    opacity: 0.8;
  }
  100% {
    height: 2.5em;
    transform: rotate(-0.5deg);
    border-radius: 50% / 30%;
    border-top-right-radius: 50% 60%;
    border-top-left-radius: 50% 60%;
    opacity: 1;
  }
}

@keyframes candles {
  0% {
    height: 10em;
    border-radius: 50% / 5%;
  }
  100% {
    height: 2em;
    border-radius: 50% / 25%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cake {
  height: 30em;
  width: 30em;
  margin: 8em auto 0;
  position: relative;
  border-radius: 100% / 50%;
  background: #f9f9f9;
  border-bottom: 0.25em solid #cccccc;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
}

.cake::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15em;
  border-radius: 50%;
  background: #f9f9f9;
  border-bottom: 0.5em solid #c6c6c6;
  z-index: 10;
}

.cake::after {
  content: '';
  position: absolute;
  top: 5em;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15em;
  border-radius: 50%;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  background: white;
  box-shadow: 0 5em 0 white, 0 10em 0 white;
}

.candles {
  z-index: 20;
  position: absolute;
  padding: 0;
  margin: 0;
  height: 10em;
  width: 2.5em;
  position: absolute;
  bottom: 22.5em;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50% / 5%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  animation: candles 10s 2s infinite normal;
  background: #ffcc00;
  box-shadow: -3.5em 5em 0 0 #77DD77, 3.5em 5em 0 0 #FF6961, -7em -2.5em 0 -3px #FFB347, 7em -2.5em 0 -3px #779ECB, -10.5em 2em 0 -1px #B19CD9, 10.5em 2em 0 -1px #A5D3CA;
}

.candles::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  border-radius: 50%;
  background: #cca300;
  box-shadow: -3.5em 5em 0 0 #4ed34e, 3.5em 5em 0 0 #ff392e, -7em -2.5em 0 -3px #ff9e14, 7em -2.5em 0 -3px #5284bd, -10.5em 2em 0 -1px #9477cb, 10.5em 2em 0 -1px #83c2b6;
}

.candles::after {
  content: '';
  position: absolute;
  top: -2em;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 50% / 40%;
  border-top-right-radius: 50% 60%;
  border-top-left-radius: 50% 60%;
  background: #f0d66b;
  height: 2.5em;
  width: 1.5em;
  animation: flames 0.75s infinite alternate;
  box-shadow: 0 0 0 1px #f5e399, -3.5em 5em 1px 0 #f0d66b, 3.5em 5em 1px 0 #f0d66b, -7em -2.5em 1px 0 #f0d66b, 7em -2.5em 1px 0 #f0d66b, -10.5em 2em 1px 0 #f0d66b, 10.5em 2em 1px 0 #f0d66b;
}

#main {
  height: 650px;
}

.main_container {
  width: 900px;
  height: auto;
  margin: 0 auto;
}

div[class^="birthdaycake_"] {
  float: left;
}

.birthdaycake_result {
  width: 65%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.birthdaycake_colours {
  width: 35%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.rainbow_cake {
  background-color: white;
  border: 0px solid black;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 4% 5% 0 5%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.layers_container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.layer_6 {
  width: 350px;
  height: 35px;
  background-color: #f0d66b;
  background-image: url("../images/img-noise.png");
  background-repeat: repeat;
  background-position: 600px;
  border: 0px solid black;
  margin-top: 3%;
  border-radius: 10px;
}

.layer_5 {
  width: 350px;
  height: 35px;
  background-color: #f0d66b;
  background-image: url("../images/img-noise.png");
  background-repeat: repeat;
  background-position: 500px;
  border: 0px solid black;
  margin-top: 3%;
  border-radius: 10px;
}

.layer_4 {
  width: 350px;
  height: 35px;
  background-color: #f0d66b;
  background-image: url("../images/img-noise.png");
  background-repeat: repeat;
  background-position: 400px;
  border: 0px solid black;
  margin-top: 3%;
  border-radius: 10px;
}

.layer_3 {
  width: 350px;
  height: 35px;
  background-color: #f0d66b;
  background-image: url("../images/img-noise.png");
  background-repeat: repeat;
  background-position: 300px;
  border: 0px solid black;
  margin-top: 3%;
  border-radius: 10px;
}

.layer_2 {
  width: 350px;
  height: 35px;
  background-color: #f0d66b;
  background-image: url("../images/img-noise.png");
  background-repeat: repeat;
  background-position: 200px;
  border: 0px solid black;
  margin-top: 3%;
  border-radius: 10px;
}

.layer_1 {
  width: 350px;
  height: 35px;
  background-color: #f0d66b;
  background-image: url("../images/img-noise.png");
  background-repeat: repeat;
  background-position: 100px;
  border: 0px solid black;
  margin-top: 3%;
  border-radius: 10px;
}

.colours {
  width: 100%;
  height: auto;
}

.colour_1 {
  width: 245px;
  height: 35px;
  margin-top: 4%;
}

.colour_2 {
  width: 245px;
  height: 35px;
  margin-top: 4%;
}

.colour_3 {
  width: 245px;
  height: 35px;
  margin-top: 4%;
}

.colour_4 {
  width: 245px;
  height: 35px;
  margin-top: 4%;
}

.colour_5 {
  width: 245px;
  height: 35px;
  margin-top: 4%;
}

.colour_6 {
  width: 245px;
  height: 35px;
  margin-top: 4%;
}

.button1 {
  width: 35px;
  height: 35px;
  float: left;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
}

.button2 {
  width: 35px;
  height: 35px;
  float: left;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
}

.button3 {
  width: 35px;
  height: 35px;
  float: left;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
}

.button4 {
  width: 35px;
  height: 35px;
  float: left;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
}

.button5 {
  width: 35px;
  height: 35px;
  float: left;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
}

.button6 {
  width: 35px;
  height: 35px;
  float: left;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
}

.button7 {
  width: 35px;
  height: 35px;
  float: left;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  border-radius: 10%;
}

.button1 {
  background-color: #dc4b4b;
}

.button2 {
  background-color: #ed9241;
}

.button3 {
  background-color: #ecd42f;
}

.button4 {
  background-color: #8fc235;
}

.button5 {
  background-color: #4b8fbe;
}

.button6 {
  background-color: #6048b8;
}

.button7 {
  background-color: #f0d66b;
  position: relative;
  width: 35px;
  height: 35px;
  opacity: 0.3;
}

.button7:hover {
  opacity: 1;
}

.button7:before, .button7:after {
  position: absolute;
  left: 16px;
  top: -4px;
  content: ' ';
  height: 125%;
  width: 2px;
  background-color: #333;
}

.button7:before {
  transform: rotate(45deg);
}

.button7:after {
  transform: rotate(-45deg);
}

.add_layer_button, .remove_layer_button {
  width: 35px;
  height: 35px;
  border-radius: 5.83333px;
  font-size: 1em;
  background-color: white;
  font-family: "open-sansregular", Arial, sans-serif;
  color: #4f4f4f;
  text-align: center;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

#topping {
  background-color: white;
  height: 500px;
}

.topping_container {
  width: 900px;
  height: 400px;
  margin: 0 auto;
}

*[class^=".topping"] {
  border: 1px solid red;
}

#dimension {
  height: 500px;
}

.dimension_container {
  width: 900px;
  height: 330px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.size_1 {
  width: 297.5px;
  height: 297.5px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size_2 {
  width: 245px;
  height: 245px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size_3 {
  width: 192.5px;
  height: 192.5px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size span {
  font-size: 70px;
  color: #c2c2c2;
  letter-spacing: -8.75px;
  opacity: 0;
}

.size span b {
  font-size: 105px;
}

.dimension_border {
  border: 0.5em solid #dc4b4b;
}

.summary_container {
  width: 900px;
  height: auto;
  margin: 0 auto;
}

.summary_form {
  width: 50%;
  height: 450px;
  float: left;
}

.summary_inputs {
  width: 50%;
  height: 450px;
  float: left;
  padding: 0.5em;
}

.summary_button {
  width: 100%;
  height: 100px;
  clear: both;
}

.table {
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  padding: 0.5em;
  margin: 0.5em;
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
  padding: 0.5em;
  border-bottom: 1px solid #4f4f4f;
}

.table td:last-child {
  width: 20%;
}

.table_layers {
  width: 100%;
  height: 50px;
}

.table_layers td {
  border: 2px solid white;
  padding: 0.2em;
}

.table_layers td:last-child {
  width: 90%;
  border: 2px solid white;
}

#form_size, #form_topping, #form_layers {
  font-family: open_sansbold;
  vertical-align: bottom;
}

.input {
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  padding: 0.5em;
  margin: 0.5em;
  vertical-align: middle;
}

.input td:first-child {
  width: 30%;
  font-family: "open_sansbold";
}

.send_button {
  width: 140px;
  height: 52.5px;
  border-radius: 5.83333px;
  font-size: 1em;
  background-color: white;
  font-family: "open-sansregular", Arial, sans-serif;
  color: #4f4f4f;
  text-align: center;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  float: right;
  font-size: 2em;
  background-color: #dc4b4b;
}

#contact {
  height: 720px;
}

.contact_container {
  width: 900px;
  height: auto;
  margin: 0 auto;
  border: 1px solid red;
}

body {
  font-family: "open_sansregular", Arial, sans-serif;
  color: #4f4f4f;
}

.background {
  background-color: #ede9e3;
}

.name {
  width: 100%;
  text-align: center;
}

h1, h2, h3, h4 {
  color: #4f4f4f;
  text-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
  font-family: "open_sansregular";
}

h1 {
  font-size: 5em;
}

h4 {
  font-size: 2em;
}
