*[class^="summary_"]{
  // border: $testBorder;
}

.summary_container {
  width: 900px;
  height: auto;
  margin: 0 auto;
  // border: $testBorder;
}

.summary_form {
  width: 50%;
  height: 450px;
  float: left;
}
.summary_inputs {
  width: 50%;
  height: 450px;
  float: left;
  padding: 0.5em;
}

.summary_button {
  width: 100%;
  height: 100px;
  clear: both;
}

*[class^="table"] *, *[class^="input"] * {
  // border: $testBorder;
}

.table {
  // [id^="cell_"]
  @include summary_tables(0.5em);
  td {
    vertical-align: middle;
    padding: 0.5em;
    border-bottom: 1px solid $fontColor;
  }
  td:last-child {
    width: 20%;
    // border-left: 1px solid $fontColor;
  }
}

.table_layers {
  width: 100%;
  height: 50px;
  td {
    border: 2px solid white;
    padding: 0.2em;
  }
  td:last-child{
    width: 90%;
    border: 2px solid white;
  }
}

#form_size, #form_topping, #form_layers {
  font-family: open_sansbold;
  vertical-align: bottom;
}

.input {
  @include summary_tables(0.5em);
  td:first-child {
    width: 30%;
    font-family: $fontBold;
  }
}

.send_button {
  @include button(4, 1.5);
  display: inline-block;
  float: right;
  font-size: 2em;
  background-color: $button1color;
}
