$testBorder: 1px solid red;

$backgroundColor: #ede9e3;
$backgroundColorHello: #ddf2fe;
//cake colors

$layerColor: #f0d66b;
$cakeBorder: 0px solid black;
$cakeShadow: 1px 1px 5px 0px rgba(0,0,0,0.41);

$fontColor: #4f4f4f;

$button1color: #dc4b4b;
$button2color: #ed9241;
$button3color: #ecd42f;
$button4color: #8fc235;
$button5color: #4b8fbe;
$button6color: #6048b8;

$pacmanColor: lighten($fontColor, 45%);
