// breakpoints;
$tablet-width: 1224px;
$phone-width: 768px;
$small-phone: 321px;

@mixin tablet-portrait {
  @media only screen
    and (max-width: #{$tablet-width})
    and (orientation: portrait){
    @content;
  }
}
@mixin tablet-landscape {
  @media only screen
    and (max-width: #{$tablet-width})
    and (orientation: landscape){
    @content;
  }
}
@mixin phone-portrait {
  @media only screen
    and (max-width: #{$phone-width})
    and (orientation: portrait){
    @content;
  }
}
@mixin phone-landscape {
  @media only screen
    and (max-width: #{$phone-width})
    and (orientation: landscape){
    @content;
  }
}
@mixin small-phone {
  @media only screen
    and (max-width: #{$small-phone}){
    @content;
  }
}

// images; $source is a STRING type, $height: pixels or em;

@mixin retina($source) {
  @media
   only screen and (-webkit-min-device-pixel-ratio: 2),
   only screen and (min-resolution: 2dppx) {
     background-image: url($source);
   }
}

@mixin tablet-portrait-img ($source, $height){
  @media only screen
    and (max-width: #{$tablet-width})
    and (orientation: landscape){
    height: $height;
    background-image: url($source);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }
}
@mixin tablet-landscape-img ($source, $height){
  @media only screen
    and (max-width: #{$tablet-width})
    and (orientation: landscape){
    height: $height;
    background-image: url($source);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }
}
@mixin phone-portrait-img ($source, $height){
  @media only screen
    and (max-width: #{$phone-width})
    and (orientation: portrait){
    height: $height;
    background-image: url($source);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }
}
@mixin phone-landscape-img ($source, $height){
  @media only screen
    and (max-width: #{$phone-width})
    and (orientation: landscape){
    height: $height;
    background-image: url($source);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }
}
@mixin small-phone-img ($source, $height){
  @media only screen and (max-width: #{$small-smartphone}){
    height: $height;
    background-image: url($source);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }
}
