html {
  font-size: 62.5%; // 10px, you can easily use rem afterwards.
}

//header

$navButtonWidth: 100px;
$navButtonHeight: 100px;

//cake

$layersAmount: 6;
$layerWidth: 350px;
$layerHeigth: $layerWidth/10;

$pacmanSize: $layerWidth * 0.1;
